* { 
  margin: 0; padding: 0;
}

body {
  text-align: center;
}

.global-header, 
.global-footer {
  padding: 30px 0;
  background-color: blue;
  color: #fff;
  font-size: 36px;
}

.back-img {
  height: 500px; /* 이미지 넣을때는 항상 높이값을 준다!! */
  background-image: url(./images/우주.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* box */
.card-list {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-list div {
  margin: 0 50px;
  padding: 30px;
  width: 30%; height: 200px;
  border: 1px solid blue;
}
