* {margin: 0; padding: 0;}
ul, ol, li {list-style-type: none;}
a {text-decoration: none; color: inherit;}
body {font-family: 'Pretendard-Regular';}

body { background-color: #000;}

.allbox { 
  margin: 150px auto;
}

div { 
  width: 400px; height: 50px; line-height: 50PX;
  text-align: center; font-weight: bold;
}

h1 { margin: 0;}

.images-box {
  width: 400px; height: 500px;
}

.images-box img { width: 400px; padding: 180px 0;}

.box { background: #fff;
border-radius: 20px; margin: 10px;
}
p { line-height: 50px; margin: 0;}
span { text-decoration: underline;}