body { 
  background-color: #000;
}

.allbox { 
  margin: 100px auto; 
  width: 500px;
  text-align: center; 
  /* text-align은 부모요소에만 적용 */
}

a { text-decoration: none; color: #000; 
  font-weight: bold;
}

.box { 
  padding: 20px 0;
  height: 100px; 
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

p { line-height: 35px;}
span { font-weight: bold; }
