/* 기본세팅 */
* { 
  margin: 0; padding: 0;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/* menu */
.global-header {
  display: flex;
  /* 수평양끝 정렬 */
  justify-content: space-between;
  /* 수직 정렬 */
  align-items: center;
  padding: 12px 20px;
  background-color: #333;
}

/* logo */
.logo img { 
  width: 50px;
}

.gnb-list { 
  display: flex;
  color: #fff;
  /* 사이 공간 만드는법 1 */
  /* width: 220px; 
  justify-content: space-between; */
}

/* 사이 공간 만드는 법2 */
/* .gnb-list li { margin: 20px;} */

.gnb-list li a { 
  color: #fff;
  font-weight: bold;
  /* 사이 공간 만드는 법3 */
  padding: 0 20px;
}

/* hover기능 */
.gnb-list li a:hover {
  color: pink;
  text-decoration: underline;
}

/* main */
/* 배경이미지 */
.back-img {
  margin: 0;
  height: 600px;

  /* css에서 배경이미지 넣기 url!  */
  /* 이미지 url로 넣을때 아래 3가지 사항 넣기! */
  /* repeat / size / position */
  background-image: url(./images/back.jpeg);
  background-repeat: no-repeat; /* no-repeat 이미지반복x */
  background-size: cover;
  background-position: center;
}

/* 배경이미지 안 텍스트 */
.back-text {
  /* 수직정렬하기 위해 부모요소에 flex */
  display: flex;
  /* 수직정렬 */
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 굳이 text-align센터 주지 않아도 됨 */
  height: 600px; /* 수직 가운데 정렬하기 위해 높이값준다! */
  color: #fff;
}

.back-txt p, 
.back-text button {
  margin-top: 20px;
}

.back-img p { 
  margin-top: 20px;
  font-size: 18px;
}

.back-text button {
  padding: 12px;
  border-radius: 8px;
}

/* 겹치는 박스 */
.section-text {
  /* margin top값에 -마이너스를 줘서 위로 올라가게 */
  /* top right bottom left */
  margin: -66px auto 0 auto;
  padding: 40px 36px;
  width: 500px;
  background: #000;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px 0.5px rgb(94, 94, 95);
}

.section-text p {
  margin-top: 24px;
}

/* content article */
.content { 
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

article div { 
  margin: 0 20px;
  width: 300px; 
  padding: 50px 16px;
  text-align: center;
  background: #000; color: #fff;
  border-radius: 20px;
}

.content-text p {
  margin-top: 20px;
}

/* footer */
.global-footer {
  margin-top: 80px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.footer-link {
  display: flex;
}

.footer-link a {
  padding: 0 12px;
  color: #fff;
}

/* 반응형 */
@media screen and (max-width: 1200px) {
  .back-text {
    width: 100%;
    /* 수직정렬하기 위해 부모요소에 flex */
    display: flex;
    /* 수직정렬 */
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 굳이 text-align센터 주지 않아도 됨 */
    height: 600px; /* 수직 가운데 정렬하기 위해 높이값준다! */
    color: #fff;
  }

  .content { 
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
  }
  
  article div { 
    margin: 0 20px;
    width: 50%; 
    padding: 50px 16px;
    text-align: center;
    background: #000; color: #fff;
    border-radius: 20px;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .content { 
    width: 100%;
    flex-direction: column;
  }

  article div { 
    margin: 20px auto;
    width: 50%; 
    padding: 50px 16px;
    text-align: center;
    background: #000; color: #fff;
    border-radius: 20px;
  }
}