
.wrap {
  width: 900px;
  margin: 0 auto;
  clear: both;
}

header { 
  width: 900px; height: 100px;
  background-color: plum;
}

.main {
  width: 900px;
}

.main-left {
  float: left;
  width: 200px; height: 700px;
  background-color: paleturquoise;
}

.main-right {
  float: left;
  width: 700px; height: 700px;
  background: palegreen;
}

footer { 
  width: 900px; height: 100px;
  background-color: peachpuff;
  clear: both;
  /* 클리어보스 부모요소가 아닌 본인에게 넣는 경우? */
 }